{{!< default}}

<main id="gh-main" class="gh-main gh-outer ryanjournal-main">
    <div class="gh-inner">
        <div class="gh-wrapper">
            <section class="gh-section">
                <div class="gh-feed">
                    {{^is "paged"}}
                        {{#foreach posts from="1"}}
                            {{> loop}}
                        {{/foreach}}
                    {{else}}
                        {{#foreach posts}}
                            {{> loop}}
                        {{/foreach}}
                    {{/is}}
                </div>

                {{#match posts.length "=" 1}}
                    Additional posts will be coming soon.
                {{/match}}

                <button class="gh-loadmore gh-btn">Load more issues</button>
            </section>

            <aside class="gh-sidebar">
                <section class="gh-section">
                    <h2 class="gh-section-title">About</h2>

                    <div class="gh-about">
                        <section class="gh-about-wrapper">
                            <img src="https://media.licdn.com/dms/image/C4D03AQGHuQXAqjJ07g/profile-displayphoto-shrink_800_800/0/1624866403867?e=1717027200&amp;v=beta&amp;t=EW-v06RK5-E6L9GB3EMT19reCHW8DZp9TjYCosvgBMo" style="width:100%; margin-bottom: 20px;">
                            <h3 class="gh-about-title">{{@site.title}}</h3>

                            {{#if @site.description}}
                                <p class="gh-about-description">{{@site.description}}</p>
                            {{/if}}
                        </section>
                    </div>

                    {{#if @site.members_enabled}}
                        {{^if @member.paid}}
                            <div class="gh-signup">
                                {{^if @member}}
                                    <p class="gh-signup-description">Sign up now to get latest posts in your inbox.</p>

                                    <a class="gh-subscribe-input" href="#/portal/signup" data-portal="signup">
                                        <div class="gh-subscribe-input-text">
                                            {{> icons/email}}
                                            jamie@example.com
                                        </div>
                                        <div class="gh-subscribe-input-btn">Subscribe</div>
                                    </a>
                                {{else}}
                                    {{#if @setting.paid_members_enabled}}
                                        <p class="gh-signup-description">Upgrade to a paid account to get full access.</p>
                                        <a class="gh-signup-btn gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Upgrade now</a>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/if}}
                </section>

                {{#get "posts" filter="featured:true" limit="all" as |featured|}}
                    {{#if featured}}
                        <section class="gh-section">
                            <h3 class="gh-section-title">Featured</h3>

                            <div class="gh-featured gh-feed">
                                {{#foreach featured}}
                                    {{> loop}}
                                {{/foreach}}
                            </div>
                        </section>
                    {{/if}}
                {{/get}}

                {{#get "tags" include="count.posts" limit="all" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Topics</h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name">{{name}}</h3>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 issues" singular="% issue" plural="% issues"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#if @site.recommendations_enabled}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Recommendations</h3>

                        <div class="gh-recommendations">
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> "icons/arrow-right"}}</button>
                        </div>
                    </section>
                {{/if}}
            </aside>
        </div>
    </div>
</main>
