{{!< default}}

{{#post}}

<main id="gh-main" class="gh-main">
    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <span class="gh-article-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                {{#if reading_time}}
                    <span>
                        &middot; {{reading_time}}
                    </span>
                {{/if}}
                {{#if primary_tag}}
                    &middot; <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}
            </span>

            <h1 class="gh-article-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{> "feature-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        {{#if comments}}
            <div class="gh-comments gh-canvas">
                {{comments}}
            </div>
        {{/if}}

        <footer class="gh-article-footer gh-canvas{{#if @site.comments_enabled}}{{#unless @member}} no-border{{/unless}}{{#unless access}} no-border{{/unless}}{{/if}}">
            <nav class="gh-navigation">
                <div class="gh-navigation-previous">
                    {{#prev_post}}
                        <a class="gh-navigation-link" href="{{url}}">
                            <span class="gh-navigation-label">{{> icons/arrow-left}} Previous issue</span>
                            <h4 class="gh-navigation-title">{{title}}</h4>
                        </a>
                    {{/prev_post}}
                </div>

                <div class="gh-navigation-middle"></div>

                <div class="gh-navigation-next">
                    {{#next_post}}
                        <a class="gh-navigation-link" href="{{url}}">
                            <span class="gh-navigation-label">Next issue {{> icons/arrow-right}}</span>
                            <h4 class="gh-navigation-title">{{title}}</h4>
                        </a>
                    {{/next_post}}
                </div>
            </nav>
        </footer>

        {{#get "posts" limit="5" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |next|}}
        {{#if next}}
            <section class="related-wrapper gh-canvas">
                <h3 class="related-title">Read next</h3>
                <div class="related-feed">
                    {{#foreach posts}}
                        {{> "article-loop"}}
                    {{/foreach}}
                </div>
            </section>
        {{/if}}
        {{/get}}

    </article>
</main>

{{/post}}
